div {
    text-align: center;
}

.button {
    background-color: #041405;
    border: none;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
}

.button:hover, .button:focus {
    background-color: #2f009c;
    cursor: pointer;
}
